@primary-color: #1ea9da;
@bg-color: #f8f8f9;
@border-color: #e9eaec;
@sub-color: #8c8c8c;
@content-color: #595959;
@title-color: #262626;
@disable-color: #bbbec4;

@title-font: 0.34rem;
@content-font: 0.3rem;
@subcontent-font: 0.24rem;

@max-width: 720px;
@min-width: 320px;
@html-bg-color: #f8f8f9;
