@bg-color: #f8f8f9;
@title-color: #262626;
@disable-color: #bbbec4;

@title-font: 0.34rem;
@content-font: 0.3rem;
@subcontent-font: 0.24rem;

@primary-color: #1989fa;  // 主题颜色
@success-color: #07c160;
@sub-color: #8c8c8c;
@content-color: #595959;
@border-color: #e9eaec;
@max-width: 450Px;
@min-width: 320Px;
@html-bg-color: #f8f8f9;
